<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WebChatEntities" connectionString="metadata=res://*/WebChatEntities.csdl|res://*/WebChatEntities.ssdl|res://*/WebChatEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=398296c6-9ed1-452b-b4cc-a21a0083f64c.sqlserver.sequelizer.com;initial catalog=db398296c69ed1452bb4cca21a0083f64c;user id=faeduidnooppleyl;password=zGFSmFk3tnsaERbh2bvX5Y75B2S2Jr8Yb33jLPHNXqXJcgaZGDSzVjDJJJptVssb;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>